{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/city.css' %}">
  </head>
  
    <div class="row">
        
        <div class="col-sm-4" >
            <div class="container">
                <h3 > Cities</h3>
                {% for city in cities %}
                <a href="/cities/{{city.id}}/">
                <div class='card '>

                    <img class="mr-3" src="/static/{{city.url}}" alt="Generic placeholder image" width='64' height='64'> 
                    <h5 class="mt-0">{{ city.name }}</h5>
                
                </div>
                </a>    
                {% endfor %}
                <!-- <div class='card '>
                    <img class="mr-3" src="{% static 'images/london.jpeg' %}" alt="Generic placeholder image" width='64' height='64'>
                    <h5 class="mt-0">London</h5>
                </div>
                <div class='card '>
                <img class="mr-3" src="{% static 'images/sydney.jpeg' %}" alt="Generic placeholder image" width='64' height='64'>
                <h5 class="mt-0">Sydney</h5>
                </div>
                <div class='card '>
                <img class="mr-3" src="{% static 'images/newyork.jpeg' %}" alt="Generic placeholder image" width='64' height='64'>
                <h5 class="mt-0">Seattle</h5>
                </div> -->
            </div>
        </div>
        
    <div class="col-sm-4" >
        <div class="container1">
            
            <div class="city-card">
                <h3>{{city.name}}</h3>
                <img class="mr-3" src="/static/{{city.url}}" alt="Generic placeholder image" width='250' height='150'>
           
            </div>
            <div class="city-card">
                <h3 class="post">Posts</h3>
               <a href="/cities/{{city.id}}/add_post">
                <button type="submit" class="btnadd" >+</button>
               </a>
            </div>
            {% for post in posts %}
            <div class="card city">
                <div class="media">
                        <img class="mr-3" src="{% static 'images/sanfrancisco.jpeg' %}" alt="Generic placeholder image" width='64' height='64'>
                    <div class="media-body">
                    <a href="{% url 'show_post' post.id %}" class="title">{{ post.title }}</a>
                    <p>{{post.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
        
    </div>
</div>
<!-- <p>{{city.name}}</p>
{% for post in posts %}
<p>{{post.title}}</p>
{% endfor %} -->
{% endblock %} 