{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/city.css' %}">
  </head>
  
    <div class="row">
        
        <div class="col-sm-4" >
            <div class="container">
                <h3 > Cities</h3>
                {% for city in cities %}
                <a href="/cities/{{city.id}}/">
                <div class='card '>

                    <img class="mr-3" src="/static/{{city.url}}" alt="Generic placeholder image" width='64' height='64'> 
                    <h5 class="mt-0">{{ city.name }}</h5>
                
                </div>
                </a>    
                {% endfor %}
            </div>
        </div>
        
    <div class="col-sm-4" >
        <div class="container1">
            
            <div class="city-card">
                <h3>{{city.name}}</h3>
                <img class="mr-3" src="/static/{{city.url}}" alt="Generic placeholder image" width='250' height='150'>
           
            </div>
            <div class="city-card">
                <h3 class="post">Posts</h3>
             
                <button type="submit" class="btnadd" id="myInput" data-toggle="modal" data-target="#exampleModal" >+</button>
              
            </div>
            {% for post in posts %}
            <div class="card city">
                <div class="media">
                        <img class="mr-3" src="{% static 'images/sanfrancisco.jpeg' %}" alt="Generic placeholder image" width='64' height='64'>
                    <div class="media-body">
                    <a href="{% url 'show_post' post.id %}" class="title">{{ post.title }}</a>
                    <p>{{post.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
        
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'add_post' city.id %}" method="POST" id="loginForm">
                {% csrf_token %}
                <div class="form-group row">
                    
                    <div class="col-sm-10">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Post Title</label>
                      <input type="text" class="form-control" id="inputPassword" placeholder="Title" name="title">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Post Content</label>
                      <input type="textarea" class="form-control" id="inputPassword" placeholder="Content" name="content">
                    </div>
                    <input type="submit" class="btn" value="Create Post">
                </div>
                </form>
            
            
        </div>
        
    </div>
    </div>
</div>
<!-- End  Modal -->
{% endblock %} 