
{% extends 'base.html' %}

{% load static %}
{% block content %}


    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="4000">
            <img src="{% static 'images/la.jpeg'%}" class="d-block w-100" alt="..." height="400px">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="{% static 'images/newyorkcity.jpeg'%}" class="d-block w-100" alt="..." height="400px">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="{% static 'images/texas.jpeg'%}" class="d-block w-100" alt="..." height="400px">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev" >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next" >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <!-- <h1 class='wayfarer'>Wayfarer is...</h1> -->
    <div class="row" style="background-color: #2E6E65; color: white;">
        <div class="col s4">
            <h2>Los Angeles</h2>
            <p>
                Los Angeles is a sprawling Southern California city and the center of the nation’s film 
                and television industry. Near its iconic Hollywood sign, studios such as Paramount Pictures, 
                Universal and Warner Brothers offer behind-the-scenes tours.
            </p>
        </div>
        <div class="col s4">
            <h2>New York</h2>
            <p>
                New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. 
                At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, 
                financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building 
                and sprawling Central Park.
            </p>
        </div>
        <div class="col s4">
            <h2>Houston</h2>
            <p>
                Houston is a large metropolis in Texas, extending to Galveston Bay. It’s closely linked with the Space Center 
                Houston, the coastal visitor center at NASA’s astronaut training and flight control complex. The city’s relatively 
                compact Downtown includes the Theater District, home to the renowned Houston Grand Opera.
            </p>
        </div>
    </div>
    </div>
{% endblock %}