{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<div class='curved upper'>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319"><path fill="#f4f7ed" fill-opacity="1" d="M0,256L40,229.3C80,203,160,149,240,160C320,171,400,245,480,250.7C560,256,640,192,720,144C800,96,880,64,960,90.7C1040,117,1120,203,1200,229.3C1280,256,1360,224,1400,208L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,
    320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
</div>
<div class='curved'>
 
  <div class="row">
    <div class="col-sm-6">
     
          <img src="{% static 'images/avatar.png'%}" alt='avatar'>
          <h3 class="card-title">{{profile.name}}</h3>
          <p class="card-text">{{profile.current_city}}</p>
          <p class="card-text">{{profile.join_date}}</p>
          <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Edit Profile
          </button>
        <form class="collapse" id="collapseExample" action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" value="{{profile.name}}">
            <input type="text" name="current_city" value="{{profile.current_city}}">
            <input type="submit" class="btn btn-outline-success" value="Submit Changes">
        </form>
      
    </div>
    <div class="col-sm-6">
      {% for post in posts %}
      <div class="card">
       
        <div class="card-body"> 
          <a href="{% url 'show_post' post.id %}">{{ post.title }}</a>
        
        </div>
        
      </div>
      {% endfor %}
    </div>
  </div>
      
</div>


{% endblock %}