.btn {
  color: white; 
  background-color: #2E6E65;
   
}
.btn:hover{
    background-color: #86ee60;
}
#logo{
  font-family: 'Notable', sans-serif;
  color: #2E6E65;
}

body {
  font-family: Raleway, sans-serif;
}

