body{
    width: 100vw;
    height: 100vh;  
    margin: 0;
    
}

.curved {
    background: #f4f7ed;
    color: #2e6e65;
    margin-top: 0;
}

.curved.upper{
    margin-top: 0;
    background-color: #2b3752 ;
}

.btns {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 30px;
}

.about {
    display: flex;
    float: left;
    flex-direction: column;
}

.content {
    margin-top: 200px;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.mt-4 {
    color: #2e6e65;
    text-align: center;
}

#post_content {
    padding: 10px 100px;
    color: black;
    font-size: large;
}

.curved svg{
    display: block;
}